/* 001 */
body {
    font-family: 'Playfair Display', serif;
    /* задала стиль шрифта */
}

/*010/010/001*/
.header__block, .marquee-container, body {
    background-color: #000000;
    /* задала цвет фона */
}

/*001/010*/
.header, .menu {
    background-color: #0F0F0F;
    /* задала цвет фона */
    display: flex;
}

/*001/010/010*/
footer, .dropdown__item, .nav__item {
    background-color: #1F1F1F;
    /* задала цвет фона */
}

/*001/010*/
body, .card__title, .nav__link, .dropdown__link, .card__btn, .marquee {
    color: #DCDCDC;
    /* задала цвет тексту */
}

/*010/010/001*/
.menu, .card__title, footer {
    text-align: center;
    /* разместила текст по центру */
}

/*010/010/011*/
.site__img, .nav__item, img.main__img {
    display: inline-block;
    /* задала строчно-блочный вид для элементов */
}

/*030/010/010/010/010/010*/
.nav__item:hover .dropdown, .nav__link, .dropdown__link, .dropdown__item, .card__btn, .card__img {
    display: block;
    /* задала блочный вид для элементов */
}

/*010*/
.nav__link, .dropdown__link, .card__btn {
    text-decoration: none;
    /* отменила подчеркивание текста */
}

.marquee-container, .card__img {
    overflow: hidden;
    /* зафиксировала изображение в карточке */
}

/********** Персональная информация **********/
/*010*/
.header__block {
    width: 100%;
    /* задала ширину */
    display: flex;
    /* закрепила хидер */
}

/*010*/
.header__block__inform {
    margin-left: 6%;
    /* задала выравнивание мерджином */
}

/*010*/
.site__item, .nav__item {
    position: relative;
    /* задала относительное позиционирование */
}

/*010*/
.site__item {
    display: inline;
    /* разместила иконки в ряд */
}

/*010*/
.site__img {
    width: 30px;
    /*задала ширину для иконки */
    padding: 15px 3px;
    /* задала центрирование иконки */
}

/*010*/
.logo {
    flex-direction:column;
    /* задала логотипу обтекание по правой стороне */
    width: 40px;
    /* задала ширину логотипу */
    margin: 5px;
    /* задала внешний отступ */
}

/********** Меню **********/
/*010*/
.nav {
    font-size: 0;
    /* убираю пробелы между li-шками, образованные от inline-block */
    margin-left: 60%;
    /* задала выравнивание по правой стороне */
}

/*010*/
.nav__item {
    width: 150px;
    /* задала ширину лишке */
    border: 1px solid #0F0F0F;
    /* задала параметры для границы лишкам */
    font-size: .9375rem;
    /* вернула размер лишкам */
}

/*020*/
.nav__link:hover, .dropdown__link:hover, .card__btn:hover {
    transition: .6s linear;
    /* задала критерии прозрачности при наведении */
    background-color: #576570c2;
    /* задала фон при наведении */
}

/*010*/
.nav__link, .dropdown__link {
    padding: 15px 30px;
    /* отцентрировала ссылки */
}

/*010*/
.dropdown {
    position: absolute;
    /* задала абсолютное позиционирование для доп. списка */
    display: none;
    /* скрыла доп. список для просмотра */
}

/* 010 */
.dropdown__link {
    border-top: 1px solid #0F0F0F;
    /* задала верхнюю границу при наведении */
    width: 150px;
}

/********** Логотип **********/
/*010*/
.big__logo {
    background-image: url(../imgs/modal_first.jpg);
    /* задала фон-картинку */
    background-repeat: no-repeat;
    /* убрала дублирование фона */
    background-size: 100%;
    /* задала размер  */
}

/*010*/
.img__logo {
    margin: 10% 39%;
    /* отцентрировала логотип */
    opacity: 60%;
    /* задала прозрачность логотипу */
    width: 20%;
    /* задала ширину логотипу */
}

/********** Бегущая строка **********/
/*010*/
.marquee-container {
    display: flex;
    /* задала флекс размещение на странице */
    align-items: center;
    /* задала выравнивание флекс-элементу внутри контейнера */
}

/*010*/
.marquee {
    font-size: 3.125rem;
    /* задала размер шрифта для текста */
    line-height: 1.3;
    /* задала интервал тексту */
    font-family: sans-serif;
    /* задала стиль шрифта */
    padding: 24px 0;
    /* задала внутренний отступ */
    white-space: nowrap;
    /* задала критерий для переноса строки */
    animation: marquee 40s infinite linear;
    /* задала эффекты для анимации */
}

/*020*/
.marquee:after {
    content: "SALE -30% - SALE -30% - SALE -30% - SALE -30% - SALE -30% - SALE -30% - SALE -30%";
    /* задала контент */
}

@keyframes marquee {
/* задала перемещение текста по кадрам для оси Х */
    0% {
        transform: translateX(0)
}
    100% {
        transform: translateX(-50%)
    }
}

/********** Карточки **********/
/*011*/
img.main__img {
    width: 45%;
    /* задала параметры ширины для картинки */
    margin-right: 10px;
    /* отцентрировала картинку */
}

/* 010*/
.box, .card__item {
    float: left;
    /* задала обтекание по правой стороне карточки */
}

/* 010 */
.box {
    width: 53%;
    /* задала ширину */
}

/* 010 */
.card {
    padding-left: 20px;
    /* задала отступ слева для блока с карточками */
    margin-bottom: 200px;
    /* внешнешний отступ к футеру */
}

/* 011 */
.card::after {
    content: "";
    /* для невидимого контента */
    display: table;
    /* для вида таблицы */
    clear: both;
    /* для отмены обтекания */
}

/* 010 */
.card__item {
    width: 250px;
    /* задала ширину каждой карточке */
    margin: 0 2% 2% 2%;
    /* задала внешний отступ */
    border: 1px solid #0F0F0F;
    /* задала фон каждой карточке */
    border-radius: 2%;
    /* закруглила углы карточкам */
    padding: 15px;
    /* задала пространство внутри блока карточки */
}

/*010*/
.card__img-wrap {
    width: 100%;
    /* задала блоку ширину */
    height: 143px;
    /* задала высоту блоку с картинкой */
    margin: 0 auto;
    /* отцентрировала блок с картинкой */
}

/*010*/
.card__img {
    width: auto;
    /* ширина для картинки */
    max-width: 62%;
    /* максимальный размер для картинки */
    margin: 0 auto 11px auto;
    /* с помощью внешних отступов развестила картинку в карточке */
}

/*011*/
img.card__img {
    transition: all .5s ease-out;
    /* задала критерии для анимации картинок */
}

/*021*/
img.card__img:hover {
    transform: scale(1.3);
    /* задала масштабирование картинок */
}

/* 010 */
.card__text {
    padding: 6px;
    /* внутренний отступ для текста текста карточек*/
}

/* 010 */
.card__btn {
    background-color: #2e2d2d;
    /* фон для кнопки */
    padding: 15px;
    /* отцентрировала текст кнопки посредине */
    margin: 6% 22%;
    /* отцентрировала кнопку посредине */
    border-radius: 25px 0 25px 0;
    /* сформировала углы для кнопки*/
}

/********** Информация об авторских правах **********/
/*001*/
.footer {
    margin-top: 7%;
    /* задала футеру интервал между контентом */
    padding: 5px 0 10px 0;
    /* отцентрировала футер */
    font: .75rem Arial;
    /* задала стили для текста */
    clear: both;
}   /* для отмены обтекания */